---
title: A page for you
layout: base.njk
---

<div class="container">
      <h1>this is a page for you</h1>
      <div class="vibe">you are great!</div>
      </div>
      <div class="love">
        💓
      </div>
</div>
<script src="/js/vibe.js"></script>