---
title: A page for you
layout: base.njk
---

<div class="container">
      <h1>this is a page for you</h1>
      <div class="vibe">you are great!</div>
      </div>
      <div class="love">
        💓
      </div>
      
      <ul>
      {% for article in news.articles %}
        <li><a href="{{ article.url }}"><h2>{{ article.title }}</h2></a><span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span></li>
      {% endfor %}
      </ul>
</div>
<script src="/js/vibe.js"></script>